$main-background-color: #1779ba;
$main-font-color: #fcfcfc;
$main-padding: 10px;
$siderbar-width: 200px;
$margin-left: 220px;
$content-padding: 12px;
$max-image: 80px;
$arrow-border-color: #525252;
$arrow-border-width: 2px;
$arrow-size: 15px;