$main-background-color: #1779ba;
$main-font-color: #fcfcfc;
$header-padding: 8px;
$siderbar-width: 200px;
$margin-left: 220px;
$content-padding: 12px;
$max-image: 80px;
$arrow-border-color: #525252;
$arrow-border-width: 2px;
$arrow-size: 15px;
$breadcrumbs-item-font-size: 0.85rem;
$border-color: #ccc;

.desc {
  width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.table-image {
  max-width: $max-image;
  max-height: $max-image;
}